<!doctype html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="chrome=1">
	<title>Phyx</title>

	<link rel="stylesheet" href="stylesheets/styles.css">
	<link rel="stylesheet" href="stylesheets/github-light.css">
	<meta name="viewport" content="width=device-width">
	<!--[if lt IE 9]>
		<script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->
</head>
<body>
	<div class="wrapper">
		<header>
			<!-- <h1>Phyx</h1> -->
			<img src="/images/Phyx_WH_300.png" alt="Phyx">
			<p>Small Belgian company that does contract and open-source work for hire.</p>
			<p class="view"><a href="https://github.com/phyx-be">View our GitHub profile</a></p>
			<table style="width:100%">
			<tr>
				<td><a href="https://github.com/gvangool"> <img class="roundedimg" src="https://avatars1.githubusercontent.com/u/29039?s=100" alt="Gert Van Gool"><br />Gert van Gool</a></td>
				<td><a href="https://github.com/Brubacker"><img class="roundedimg" src="https://avatars1.githubusercontent.com/u/950047?s=100" alt="Wim Van Gool"><br />Wim Van Gool</a></td>
			</tr>
			</table>
			<p class="view">Visit our store on <a href="https://www.tindie.com/stores/phyx/">Tindie</a> or on <a href="https://lectronz.com/stores/phyx">Lectronz</a>  </p>
			<table style="width:100%">
			<tr>
				<td colspan="2"><a href="https://lectronz.com/stores/phyx"><img src="/images/lectronz.png" alt="Buy it on Lectronz" width="150"></a></td>	
			</tr>
			<tr>
				<td colspan="2"><a href="https://www.tindie.com/stores/phyx/"><img src="https://d2ss6ovg47m0r5.cloudfront.net/badges/tindie-mediums.png" alt="I sell on Tindie" width="150"></a></td>	
			</tr>				
			</table>
			<p>Some of our clients and partners</p>
			<table style="width:100%">
			<tr>
				<td><a href="https://www.flukso.net/"> <img src="/images/flukso.png" width="100"  alt="Flukso"><br />Flukso</a></td>
				<td><a href="https://fablab-leuven.be/"><img src="/images/fablab_leuven.png" width="100"  alt="FabLab Leuven"><br />FabLab Leuven</a></td>
			</tr>
			<tr>
				<td><a href="https://fri3d.be/"><img src="/images/Fri3dCamp.png" width="100"  alt="Fri3d Camp"><br />Fri3d Camp</a></td>
				<td><a href="https://stem-support.be/"><img src="/images/stem_support.png" width="100"  alt="Sputnik Media"><br />Stem Support</a></td>
			</tr>
			<tr>
				<td><a href="http://www.sputnikmedia.be/"><img src="/images/sputnik.png" width="100"  alt="Sputnik Media"><br />Sputnik Media</a></td>
				<td><a href="https://www.vrt.be"><img src="/images/VRT.png" width="100"  alt="VRT"><br />VRT</a></td>
				
			</tr>
			<tr>
				<td><a href="https://www.adafruit.com/"><img src="/images/adafruit.png" width="100"  alt="Adafruit"><br />Adafruit</a></td>
				<td><a href="https://shop.pimoroni.com/collections/all?vendor=Phyx"><img src="/images/pimoroni.png" width="100"  alt="Pimoroni"><br />Pimoroni</a></td>
				
			</tr>
			<tr>
				<td><a href="http://www.dementialab.com/"> <img src="/images/dementia_lab.png" width="100" alt="Dementia Lab"><br />Dementia Lab</a></td>
			</tr>
			</table>
			
			
		</header>
		<section>
{{ content }}
		</section>
		<footer>
			<p><small>Hosted on GitHub Pages &mdash; Theme by <a href="https://github.com/orderedlist">orderedlist</a></small></p>
		</footer>
	</div>
	<script src="javascripts/scale.fix.js"></script>
	<script type="text/javascript">
		var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
		document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
	</script>
	<script type="text/javascript">
		try {
			var pageTracker = _gat._getTracker("UA-74638405-1");
			pageTracker._trackPageview();
		} catch(err) {}
	</script>

</body>
</html>
